{
    "id":"solar_forecasting_app",
    "description":"GridAPPS-D Solar Forecasting app",
    "creator":"NREL",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "execution_path": "python /usr/src/gridappsd-solar-forecasting/solar_forecasting/app/main.py",
    "type":"PYTHON",
    "launch_on_startup":false,
    "prereqs":["fncs","fncsgossbridge"],
    "multiple_instances":true
}