git {
  "id":"solar_forecasting,
  "description":"Solar forcasting app",
  "creator":"NREL",
  "inputs":["/topic/goss.gridappsd.fncs.output"],
  "outputs":["/topic/goss.gridappsd.fncs.input"],
  "options":["(simulationId)"],
  "execution_path":"app/solar_forecasting_app.py",
  "type":"PYTHON",
  "launch_on_startup":false,
  "prereqs":["fncs","fncsgossbridge"],
  "multiple_instances":true
}